<div class="row">
  <div class="col-xl-12 separate-line">
    <div class="flex wrap-header">
      <div>
        <h2 class="page-header">
          {{ heading }}
        </h2>
        <div class="flex" *ngIf="selectAllUnit">
          <span class="text-inline" style="width: 130px">
            Đơn vị
          </span>
          <mat-select [(value)]="unitSelected">
            <mat-option *ngFor="let unit of listUnit" [value]="unit.Name">{{ unit.Name }}</mat-option>
          </mat-select>
        </div>
      </div>

      <button
        *ngIf="enableAddAction"
        class="btn btn-primary right btn-normal btn-add-new align-self-center"
        (click)="clickAddAction($event)"
      >
        Add Order
      </button>
    </div>
    <ol class="breadcrumb" *ngIf="parentLink">
      <li class="breadcrumb-item">
        <i class="fa fa-dashboard"></i>
        <a href="Javascript:void(0)" (click)="switchLink($event, parentLink)">{{ parentLink['parentName'] }}</a>
      </li>
      <li class="breadcrumb-item active"><i class="fa {{ icon }}"></i> {{ heading }}</li>
    </ol>
  </div>
</div>
